header{
    width: 100%;
    position: fixed;
    background-color: #424040;
    padding-bottom: 20px;
    top: 0px;
    z-index: 1;
}
body{
    background-color: #d6d1bf;
}
a{
    color: white;
    position: relative;
    display: inline;
    font-size: 50px;
    padding: 5px 10px;
    font-weight: lighter;
    font-family: sans-serif;
    transition: color 1s;
    text-decoration: none;
}
a:hover{
   color: blue;
}
#head{ 
    
    margin-top: 200px;
    text-align: center;

}
hr{
    
    width: 80%;
}
#main{
    position: relative;
    left: -1500px;
    opacity: 0;
}
h2{
    font-size: 70px;
}
